{% block body %}
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <div class="navbar-brand navbar-logo">Semantic Project</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                {#<li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>#}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('trainstations') }}"><i class="far fa-address-book"></i>Train stations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>API 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>API 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Carte</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('../js/navbar.js') }}"></script>
{% endblock %}
