{% block body %}
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <div class="navbar-brand navbar-logo">Semantic Project</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                {#<li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>#}
                <li class="nav-item {% if app.request.attributes.get('_route') == 'trainstations' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('trainstations') }}"><i class="fas fa-subway"></i>Train stations</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'handicap' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('handicap') }}"><i class="fas fa-wheelchair"></i>Handicap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-wifi"></i>Wifi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="fas fa-exclamation-triangle"></i>Accident du travail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('carte_all_in_one') }}"><i class="fas fa-map-marked-alt"></i>Carte</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('../js/navbar.js') }}"></script>
{% endblock %}
